.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;

  &.button--outline {
    border: solid 1px currentColor;
    padding: 1em;
    width: 100%;
    text-align: left;
    text-decoration: underline;
  }
}
