html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
.gold-text {
  background: linear-gradient(to right, #887039 0%, #e6be76 49%, #a5884c 82%, #887039 100%);
}
body,
html {
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
div.top {
  height: 39px;
  color: #fff;
  background: url('../assets/pattern-top.png') repeat-x;
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 0.16em;
  a {
    color: #fff;
    text-decoration: none;
    display: inline;
    vertical-align: middle;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1056px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 30px;
  a {
    text-decoration: none;
    color: #323031;
    font-weight: 600;
    letter-spacing : 1.75px;
  }
  ul {
    list-style: none;
    display: flex;
    li {
      padding: 0 8px;
      a {
        font-size: 14px;
      }
      &:first-child {
        border-right: 1px solid #231F20; 
      }
    }
    &.account {
      li {
        a {
          font-family: $font-heading;
          font-weight: 400;
        }
      }
      @media (max-width: 1075px) {
        display: none;
      }
    }
  }
  form {
    input {
      border: none;
      padding: 4px;
      font-size: 14px;
      font-family: $font-heading;
      font-style: italic;
      color: #323031;
    }
    position: relative;
    &::after {
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      @extend .gold-text;
    }
    @media (max-width: 1075px) {
      display: none;
    }
  }
  #mobile-button, #mobile-input {
    display: none;
  }

div#mobile-nav {
  position: fixed;
  width: 300px;
  background: #fff;
  top: 0;
  left: -300px;
  height: 100%;
  z-index: 9999;
  transition: .5s all;
  overflow: scroll;
  nav {
    display: block;
  }
  ul {
    list-style: none;
    padding: 20px;
    display: block;
    width: 100%;
    li {
      padding: 10px 0 0 0;
      a {
        display: block;
        color: #000;
        text-decoration: none;
        font-size: 1.125em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding-bottom: 10px;
        border-bottom: 1px solid #fde1e1;
        &:focus {
          outline: none;
        } 
      }
      ul {
        padding: 0;
        position: relative;
        background: transparent;
        top: 0;
        li {
          width: 100%;
          text-align: left;
          padding: 15px 0 0 0;
        }
      }
      &:first-child {
        border-right: none;
      }
    }
  }
  form {
    padding: 15px 0;
    margin: 0 15px;
    display: flex;
    justify-content: space-around;
    input {
      background: transparent;
      border: none;
      color: #fff;
    }
    button {
      background: transparent;
      border: none;
      padding: 0;
      svg {
        fill: #fde1e1;
      }
    }
    border-bottom: 2px solid #fde1e1;
  }
}
a.mobile-cart {
  display: none;
}
  @media (max-width: 1075px) {
    #mobile-button {
      display: block;
      .icon {
        width: 30px;
        height: 30px;
        fill: #42843E;
      }
    }
    input[type=checkbox]:checked ~ div#mobile-nav {
      left: 0;
    }
    a.mobile-cart {
      display: block;
      svg {
        width: 35px;
        height: auto;
      }
    }
    align-items: center;
    padding: 0 20px;
  }
}
nav {
  margin-top: 30px;
  padding-bottom: 25px;
  position: relative;
  border-bottom: 1px solid #707070;
  ul {
    list-style: none;
    max-width: 1056px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    li {
      a {
        font-size: 11px;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 600;
      }
      div.meganav {
        display: none;
        position: absolute;
        z-index: 9999;
        width: 100%;
        left: 0;
        background: #fff;
        padding: 22px 0;
        opacity: 0;
        transition: opacity .25s ease .1s;
        div.container {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          max-width: 800px;
          margin: 0 auto;
          padding-top: 10px;
          div.pic {
           flex: 0 0 157px;
           height: 159px;
           background: url("../assets/svg/frame_157x159.svg") no-repeat;
           margin-right: 39px;
           display: flex;
           justify-content: center;
           align-items: center;
          }
          div.links {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            h4 {
              flex: 0 0 100%;
            }
            ul {
              flex: 1;
              display: flex;
              flex-wrap: wrap;
              li {
                padding: 7px 0 0 0;
                flex: 0 0 100%;
                h4 {
                  margin: 0;
                  padding: 0;
                  font-size: 19px;
                }
              }
              &.wrap {
                li {
                  flex: 0 0 50%;
                  &.title {
                    flex: 0 0 100%;
                  }
                }
              }
            }
          }
        } 
        ul {
          list-style: none
        }
      }
      &:hover {
        div.meganav {
          display: block;
          opacity: 1;
        }
      }
    }
  }
  @media (max-width: 1075px) {
    display: none;
  }
}
body.template-index {
  nav {
    border-bottom: 1px solid #fff;
  }
}
section.text-section {
  margin: 0 auto;
  max-width: 615px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  p {
    font-weight: 300;
    line-height: 2;
    font-size: 15px;
    margin: 0;
  }
  h2 {
    font-size: 28px;
    padding: 0 50px;
    margin: 0;
    font-weight: 400;
    &::after {
      content: "";
      width: 55px;
      height: 2px;
      @extend .gold-text;
      display: block;
      margin: 0 auto;
      margin-top: 30px;
    }
    i {
      display: block;
    }
  }
}
section.newsletter {
  padding: 75px 15px;
  background: url('../assets/svg/CheetahBackground.svg');
  div.container {
    max-width: 1011px;
    padding: 31px 50px 30px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    &::before {
      content: "";
      background: #fff;
      width: calc(100% - 100px);
      height: 100%;
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
    }
    div {
      position: relative;
      z-index: 9;
      flex: 1;
      @media (max-width: 750px) {
        flex: 0 0 100%;
        text-align: center;
      }
    }
    div.image {
      margin-right: 70px;
      flex: 0 0 263px;
      @media (max-width: 1000px) {
        margin-right: 5%;
      }
      @media (max-width: 750px) {
        margin-right: 0;
        flex: 0 0 100%;
        text-align: center;
      }
    }
    p {
      line-height: 28px;
      font-size: 18px;
    }
    p.sub {
      color: #42843E;
      font-size: 13px;
      margin: 24px 0;
      font-weight: 700;
      letter-spacing: 0.17em;
    }
    label {
      font-size: 30px;
      font-family:  $font-heading;
      display: block;
    }
    input {
      border: none;
      border-bottom: 0.5px solid #42843E;
      padding-bottom: 9px;
      flex: 1;
      font-size: 13px;
      @media (max-width: 600px) {
        flex: 0 0 100%;
      }
    }
    form {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 9;
      flex-wrap: wrap;
    }
    button {
      width: 183px;
      height: 42px;
      background: url('../assets/svg/newsletter-button.svg') no-repeat;
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      color: #42843E;
      margin-left: 22px;
      letter-spacing: 1.8px;
      @media (max-width: 600px) {
        margin: 0 auto;
        margin-top: 20px;
      }
    }
    @media (max-width: 750px) {
      &::before {
        width: 100%;
        justify-content: center;
      }
      padding: 25px;
    }
  }
}
section.blog {
  position: relative;
  &::before {
    content: "";
    background: url('../assets/svg/CheetahBackground.svg');
    width: 100%;
    height: 35%;
    position: absolute;
  }
  div.container {
    max-width: 1102px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    h2 {
      color: #42843E;
      font-size: 13px;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Work Sans', sans-serif;
      margin-bottom: 19px;
      margin-top: 0;
      padding: 9px;
      font-weight: 700;
      letter-spacing: 0.17em;
    }
    ul {
      display: flex;
      justify-content: space-between;
      li {
        text-align: center;
        padding: 20px;
        background: #fff;
        a {
          color:#323031;
          text-decoration: none;
          &.more {
            color: #F38781;
            font-weight: 700;
            font-size: 13px;
            text-transform: uppercase;
            display: inline-block;
            padding-bottom: 5px;
            position: relative;
            &::after {
              content: "";
              width: 100%;
              height: 1px;
              position: absolute;
              left: 0;
              bottom: 0;
              @extend .gold-text;
            }
          }
        }
        h3 {
          color:#323031;
          font-size: 1.563em;
          margin: 39px 0 15px 0;
        }
      }
    }
  }
}

footer {
  background: #F9F8F7;
  margin: 200px 0 0 0;
  padding: 100px 0 0 0;
  div.instagram {
    max-width: 897px;
    margin: 0 auto;
    margin-top: -210px;
    margin-bottom: 50px;
    h2 {
      text-align: center;
      color: #42843E;
      font-size: 11px;
      letter-spacing: 0.1em;
      margin: 0 0 25px 0;
      i {
        font-size: 17px;
      }
    }
    ul.ig__list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: space-between;
      background: #fff;
      padding: 15px;
      li {
        flex: 0 0 128px;
        text-align: center;
        img {
          width: 100%;
        }
        @media (max-width: 897px) {
          flex: 32%;
          padding: 3px;
        }
      }
    }
  }
  div.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    div.links {
      display: flex;
      flex-wrap: wrap;
      border-right: 0.25px solid #323031;
      flex: 0 0 687px;
      padding-right: 15px;
      div.col {
        flex: 1;
        h4 {
          font-size: 19px;
          margin: 0 0 7px 0;
        }
        @media (max-width: 990px) {
          flex: 0 0 100%;
          h4 {
            margin: 7px 0;
            text-align: center;
          }
        }
      }
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li {
          flex: 0 0 calc(50% - 15px);
          padding: 7px 0;
          a {
            color: #000;
            text-decoration: none;
            font-size: 9px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            font-weight: 600;
          }
          @media (max-width: 990px) {
            text-align: center;
          }
          @media (max-width: 600px) {
            flex: 0 0 100%;
          }
        }
      }
      div.social {
        flex: 0 0 100%;
        border-top: 0.25px solid #323031;
        h5 {
          font-family: 'Work Sans', sans-serif;
          font-size: 1em;
          text-transform: uppercase;
          margin: 20px 0 0 0;
          font-weight: 500;
          letter-spacing: 0.2em;
          background: -webkit-linear-gradient(to right, #887039, #E6BE76, #A5884B), #887039; /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #887039, #E6BE76, #A5884B, #A5884B, #887039);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          
          span {
            font-family:  $font-heading;
            //font-size: 16px;
            text-transform: lowercase;
            font-style: italic;
          }
          @media (max-width: 990px) {
            text-align: center;
          }
        }
        ul {
          display: flex;
          font-family:  $font-heading;
          font-style: italic;
          padding: 20px 0;
          align-items: flex-end;
          li {
            flex: initial;
            display: inline-block;
            padding: 0 10px;
          }
          @media (max-width: 990px) {
            justify-content: center;
          }
        }
      }
      @media (max-width: 990px) {
        flex: 0 0 50%;
        div.social {
          margin-top: 20px;
        }
      }
      @media (max-width: 874px) {
        flex: 0 0 100%;
        border-right: none;
      }
    }
    div.news {
      text-align: center;
      padding-left: 40px;
      flex: 1;
      p{
        font-size: 14px;
        margin: 0 0 20px 0;
        line-height: 23px;
      }
      p.sub {
        color: #42843E;
        font-size: 13px;
        margin: 0 0 20px 0;
        font-weight: 700;
        letter-spacing: 0.17em;
      }
      label {
        font-size: 1.5em;
        font-family:  $font-heading;
        display: block;
      }
      input {
        border: none;
        border-bottom: 0.5px solid #42843E;
        padding-bottom: 9px;
        display: block;
        width: 260px;
        font-size: 13px;
        background: transparent;
        text-align: center;
        margin: 0 auto;
      }
      button {
        width: 158px;
        height: 36px;
        background: url('../assets/svg/newsletter-button.svg') no-repeat;
        background-size: cover;
        font-size: 9px;
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        color: #42843E;
        margin: 0 auto;
        margin-top: 22px;
        letter-spacing : 1.8px;
      }
      &::before {
        content: "";
        background: url('../assets/svg/footer-topiary.svg') no-repeat;
        width: 17px;
        height: 53px;
        display: inline-block;
        margin-bottom: 22px;
      }
    }
  }
  div.bottom {
    background: #323031;
    color: #fff;
    font-size: 9px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.135em;
    margin: 25px 0 0 0;
    a {
      color: #fff;
      text-decoration: none;
      padding: 0 7px;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
div.about {
  a.btn {
    display: flex;
    width: 380px;
    height: 49px;
    background: url('../assets/svg/button_376x.svg') no-repeat;
    background-size: cover;
    margin: 0 auto;
    font-size: 13px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #42843E;
    margin-bottom: 30px;
    margin-top: 30px;
    letter-spacing: 0.25em;
  }
  section.blog {
    padding-top: 35px;
    &::before {
      top: 0;
      height: 60%;
    }
  }
  section.text-section {
    h2 {
      &::after {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        font-style: italic;
        font-size: 28px;
      }
    }
    p {
      margin: 30px 0 0 0;
      font-size: 26px;
      font-family: $font-heading;
      line-height: 37px;
    }
  }
  h3.page-title {
    text-align: center;
    font-weight: 600;
    font-family: $font-body;
    letter-spacing: 0.2em;
    padding: 30px 0;
    margin: 0;
    color: #42843E;
  }
  section.text-image {
    max-width: 920px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-size: 23px;
      line-height: 1.5;
      margin: 0;
    }
    div.text {
      flex: 0 0 539px;
      p {
        line-height: 1.5;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        strong {
          font-weight: 400;
        }
      }
    }
    div.image {
      flex: 0 0 313px;
      img {
        padding: 18px;
        background: #F9F8F7;
      }
    }
    &.right {
      flex-direction: row-reverse;
      div.image {
        flex: 0 0 325px;
      }
      div.text {
        flex: 0 0 538px;
      }
    }
  }
  div.staff {
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 21px;
      line-height: 1.5;
      margin: 0;
    }
    span {
      font-weight: 600;
      font-size: 11px;
      text-transform: uppercase;
      color: #42843E;
      letter-spacing: 0.2em;
    }
    div.text {
      flex: 0 0 505px;
      p {
        line-height: 1.5;
        font-weight: 300;
        strong {
          font-weight: 400;
        }
      }
    }
    div.image {
      flex: 0 0 313px;
      img {
        padding: 16px;
        background: #F9F8F7;
      }
    }   
  }
  div.green-title {
    background: #E2EDE6;
    text-align: center;
    height: 195px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    position: relative;
    color: #42843E;
    &::before {
      content: "";
      background: url('../assets/svg/geen_bg.svg') repeat-x;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 99;
      bottom: -15px;
    }
    div.wrap {
      position: relative;
      z-index: 99;
    }
    h3 {
      font-size: 20px;
      font-family: $font-body;
      font-weight: 600;
      letter-spacing: 0.2em;
    }
    p {
      font-size: 28px;
      font-family: $font-heading;
      font-style: italic;
    }
  }
}
#preview-bar-iframe {
  height: 0px;
}
div.page {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
  p {
    line-height: 1.8;
  }
  form {
    padding: 30px 0;
    max-width: 600px;
    margin: 0 auto;
    label {
      display: block;
      margin: 0 0 15px 0;
      padding: 1px;
    }
    input, textarea {
      width: 100%;
      padding: 10px;
      margin: 0 0 15px 0;
    }
    .button {
      width: 183px;
      height: 42px;
      background: url('../assets/svg/newsletter-button.svg') no-repeat;
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      color: #42843E;
      letter-spacing: 1.8px;
      margin: 0 auto;
    }
    a {
      color: #ccc;
      display: block;
      margin: 0 auto;
      text-decoration: none;
      width: auto;
      text-align: center;
      margin: 10px 0;
    }
    div.errors {
      ul {
        list-style: none;
        margin: 10px 0;
        padding: 0;
        li {
          color: red;
          padding: 5px 0;
        }
      }
    }
  }
  &.search {
    form {
      display: flex;
      padding: 20px 0;
      .button {
        width: auto;
        height: auto;
        background: transparent;
      }
      input {
        margin: 0;
      }
    }
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        flex: 0 0 249px;
        margin-bottom: 30px;
        text-align: center;
        a {
          color: #231F20;
          text-decoration: none;
        }
        h3 {
          text-align: center;
          font-size: 17px;
          margin: 30px 0 0 0;
          line-height: 1.5em;
        }
        p.price {
          color: #42843E;
          letter-spacing: 0.17em;
          font-weight: 600;
          margin: 10px 0;
          font-size: 11px;
        }
      }
    }
  }
}
div.etiquette {
  section.page-title {
    margin: 44px 0 0 0;
    h1 {
      font-size: 26px;
      color: #000;
      span {
        font-style: italic;
        display: block;
      }
      &::after {
        content: "";
        background: #707070;
        height: 2px;
        width: 55px;
        display: block;
        margin: 0 auto;
        margin-top: 29px;
      }
    }
  }
  div.section-title {
    padding: 44px 0 0 0;
    text-align: center;
    max-width: 1035px;
    margin: 0 auto;
    position: relative;
    h3 {
      font-size: 26px;
      margin: 0;
      color: #000;
    }
    p {
      font-size: 17px;
      font-weight: 300;
      line-height: 2;
      strong {
        font-weight: 600;
        letter-spacing: 0.1em;
        font-size: 15px;
      }
    }
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
      @extend .gold-text;
    }
    &:first-child {
      &::before {
        display: none;
      }
    }
  }
  div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 32px 0 44px 0;
    div.image {
      flex: 0 0 315px;
      text-align: center;
      margin: 0 22px;
      h3 {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.1em;
        font-family: $font-body;
        margin: 23px 0 15px 0;
        line-height: 1.8em;
      }
      span {
        font-family: $font-heading;
        font-size: 15px;
        font-style: italic;
      }
      @media (max-width: 1100px) {
        flex: 0 0 30%;
        margin: 0;
        padding: 0 10px;
      }
      @media (max-width: 700px) {
        flex: 0 0 50%;
        padding: 10px;
      }
    }
  }
  div.gallery + div.gallery {
    padding: 0 0 40px;
  }
  div.placement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1035px;
    margin: 0 auto;
    padding: 0;
    div.image {
      flex: 0 0 170px;
      margin: 24px 30px;
      text-align: center;
      @media (max-width: 950px) {
        margin: 10px;
      }
      @media (max-width: 750px) {
        flex: 0 0 43%;
        margin: 12px;
      }
    }
  }
  section.text-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 737px;
    margin: 0 auto;
    padding: 50px 0 0 0;
    div.image {
      flex: 0 0 394px;
      background: #F9F8F7;
      padding: 20px 0;
      text-align: center;
      @media (max-width: 736px) {
        margin: 0 auto;
        padding: 20px;
      }
      @media (max-width: 400px) {
        flex: 0 0 100%;
      }
    }
    div.text {
      text-align: center;
      flex: 0 0 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        font-size: 32px;
        margin: 0;
        padding-bottom: 20px;
      }
      p {
        font-weight: 300;
        line-height: 1.7;
        font-size: 17px;
        margin: 0;
      }
      a{
        color: #F38781;
        font-weight: 700;
        letter-spacing: 0.135;
        text-decoration: none;
        font-size: 13px;
        display: inline-block;
        margin-top: 26px;
        align-self: center;
        &::after {
          content: "";
          background: #707070;
          display: block;
          height: 1px;
          margin-top: 4px;
        }
      }
      @media (max-width: 737px) {
        flex: 0 0 100%;
        padding-top: 20px;
      }
    }
  }
  section.page-title + div.section-title {
    border: none;
  }
  div.section-title + div.section-title {
    margin-top: 22px;
  }
  div.section-title + div.placement {
    padding-top: 42px;
  }
}
div.cart {
  div.items {
    display: flex;
    flex-wrap: wrap;
    div.actions {
      display: flex;
      div {
        flex: 1;
      }
    }
  }
  div.item {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    flex: 0 0 100%;
    div {
      padding: 15px 0;
      text-align: center;
      input {
        width: 50px;
        max-width: 100%;
      }
      &.head {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        border-bottom: 1px solid #000;
      } 
    }
    div.cartproduct {
      text-align: left;
      display: flex;
      align-items: center;
      div {
        padding: 0 15px;
      }
    }
  }
  form {
    max-width: 100%;
  }
}
