<div class="info-page page">
	
	<h1 class="page-title">{{ page.title }}</h1>

	<div class="rte wholesale-rte">
	  {{ page.content }}
	</div>

	<div style="margin:0 auto;" class="pxFormGenerator" id="2Krt2jQVHoiWWWYfAH9wLQ"></div>

</div>

