<section class="napkin-colors">
	<h2>Napkin Color Options</h2>
	<ul>
		<li class="napkin-color color-white has-border">
			<div class="color-circle"></div>
			<span>White</span>
		</li>
		
		<li class="napkin-color color-ecru">
			<div class="color-circle"></div>
			<span>Ecru</span>
		</li>
		
		<li class="napkin-color color-black">
			<div class="color-circle"></div>
			<span>Black</span>
		</li>
		
		<li class="napkin-color color-oatmeal">
			<div class="color-circle"></div>
			<span>Oatmeal</span>
		</li>
		
		<li class="napkin-color color-navy">
			<div class="color-circle"></div>
			<span>Navy</span>
		</li>
		
		<li class="napkin-color color-ltgrey">
			<div class="color-circle"></div>
			<span>Lt Grey</span>
		</li>
		
		<li class="napkin-color color-ltpink">
			<div class="color-circle"></div>
			<span>Lt Pink</span>
		</li>
		
		<li class="napkin-color color-pink">
			<div class="color-circle"></div>
			<span>Pink</span>
		</li>
		
		<li class="napkin-color color-lime">
			<div class="color-circle"></div>
			<span>Lime</span>
		</li>
		
		<li class="napkin-color color-red">
			<div class="color-circle"></div>
			<span>Red</span>
		</li>
		
		<li class="napkin-color color-olive">
			<div class="color-circle"></div>
			<span>Olive</span>
		</li>
		
		<li class="napkin-color color-whitepink has-border">
			<div class="color-circle"></div>
			<span>White with Pink Trim</span>
		</li>
		
		<li class="napkin-color color-whitelime has-border">
			<div class="color-circle"></div>
			<span>White with Lime</span>
		</li>
		
	</ul>	

</section>